ion-card, ion-card-subtitle{
    background-color:rgb(44, 80, 97);
    color: #fff;
}

ion-card-title{
    font-weight: bold;
}

ion-badge{
    position: relative;
    top: 7px;
    left: 6px;
}

.button-thumb {
    float: right;
}

.success{
    background-color: #28a745;
}

.danger{
    background-color: #dc3545;
}

.button-ver{
    display: inline;
}

section {
    text-align: center;
}